:root {
  --container-padding: 15px;
  --slider-width: 950px;
  --slider-height: calc(--slider-width * 0.75);
  --main-color: #2C2C2C;
  --accent--color: #042A5C;
  --link--hover: #194397;
  --scroll-track: rgba(255,255,255,0.5);
  --scroll: rgba(4, 42, 92, 0.5);
  --body-bg-color: rgba(255,255,255,0.8);
}