.content {
  z-index: 10;
	flex-grow: 2;
  max-height: calc(var(--vh, 1vh) * 100);
  padding: 30px 0;
}
.content__wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.content__left {
  position: relative;
  max-width: 45%;

  &--full {
    max-width: 1360px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
.content__title {
  padding-bottom: 30px;
  font-size: 30px;
  text-align: center;
}
.content__right {
  position: relative;
  max-width: var(--slider-width);
  max-height: var(--slider-height);
  overflow: hidden;
}