@media (max-width: 1440px) {
  .container {
    max-width: calc(100% - 50px);
  }
  .logo__top {
    font-size: 19px;
  }
  .logo__bottom {
    font-size: 40px;
  }
  .header, .footer {
    padding: 10px 0;
  }
}
@media (max-width: 1366px) {
  .content {
    padding: 20px 0;
  }
  .content__title {
    padding-bottom: 20px;
    font-size: 26px;
  }
  .text, .footer {
    font-size: 16px;
  }
}
@media (max-width: 1199px) {
  .logo__top {
    font-size: 18px;
  }
  .logo__bottom {
    font-size: 38px;
  }
  .nav-icon {
    width: 42px;
    height: 42px;
  }
  .nav-icon__middle,
  .nav-icon__middle::before,
  .nav-icon__middle::after {
    width: 22px;
  }
  .content__wrapper {
    gap: 30px;
  }
}
@media (max-width: 926px) and (orientation: landscape) {
  .container {
    max-width: calc(100% - 30px);
  }
  .logo__top {
    font-size: 15px;
  }
  .logo__bottom {
    font-size: 32px;
  }
  .nav-icon {
    width: 36px;
    height: 36px;
  }
  .nav-icon__middle, .nav-icon__middle::before, .nav-icon__middle::after {
    width: 18px;
  }
  .nav-icon__middle::before {
    top: -7px;
  }
  .nav-icon__middle::after {
    top: 7px;
  }
  .content__title {
    padding-bottom: 10px;
    font-size: 20px;
  }
  .content__left {
    max-width: 50%;
    &--full {
      max-width: 100%;
    }
  }
  .text > p + p {
    margin-top: 10px;
  }
  .img-slider__next.swiper-button-next, .img-slider__prev.swiper-button-prev {
    width: 30px;
    height: 30px;
  }
}
@media (max-height: 411px) and (orientation: landscape) {
  .content__left, .content__right, .content__title, .footer {
    display: none;
  }
  .mobile-message {
    display: block;
  }
}
@media (max-width: 899px) and (orientation: portrait) {
  .content__wrapper {
    flex-direction: column;
    gap: 20px;
  }
  .content__left {
    max-width: 100%;
  }
  .footer__address {
    max-width: 350px;
  }
}
@media (max-width: 767px) and (orientation: portrait) {
  .logo__top {
    font-size: 15px;
  }
  .logo__bottom {
    font-size: 32px;
  }
  .footer__container {
    flex-direction: column;
  }
  .footer__address {
    max-width: 90%;
  }
  .footer__contacts {
    align-items: flex-start;
  }
}
@media (max-width: 667px) {
  .nav-icon-wrap__text {
    display: none;
  }
}
@media (max-width: 479px) {
  .header__container {
    justify-content: flex-start;
  }
}
@media (max-width: 428px) and (orientation: portrait) {
  .container {
    max-width: calc(100% - 30px);
  }
  .nav-icon {
    width: 36px;
    height: 36px;
  }
  .nav-icon__middle, .nav-icon__middle::before, .nav-icon__middle::after {
    width: 18px;
  }
  .nav-icon__middle::before {
    top: -7px;
  }
  .nav-icon__middle::after {
    top: 7px;
  }
  .mobile-menu__list {
    font-size: 16px;
  }
  .mobile-menu__item + .mobile-menu__item {
    margin-top: 15px;
  }
  .content__title {
    padding-bottom: 15px;
    font-size: 20px;
  }
  .text > p + p {
    margin-top: 10px;
  }
  .img-slider__next.swiper-button-next, .img-slider__prev.swiper-button-prev {
    width: 30px;
    height: 30px;
  }
  .footer__address {
    max-width: 100%;
  }
}
@media (max-width: 360px) and (orientation: portrait) {
  .logo__top {
    font-size: 13px;
  }
  .logo__bottom {
    font-size: 27px;
  }
}
